.h1::after,
.h1::before{
    content:"";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    

    

}
.h2::after,
.h2::before{
    content:"";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    

    

}
.h2{
    position: relative;
    width: max-content;

}
.h2::before{
    background:rgb(255, 255, 255);
    
    animation: typewriter 4s  steps(20) forwards;
}
.h2::after{
    width: 0.10em;
    border: 1px solid silver;
    background: rgb(129, 119, 119);
    animation:typewriter 4s  steps(20) forwards,
              blink 740ms steps(20)  infinite;
}

.h1::before{
    background:rgb(255, 255, 255);
    animation: typewriter 4s  steps(25) forwards;
}
.h1::after{
    width: 0.10em;
    background: rgb(150, 147, 147);
    animation:typewriter 4s  steps(25) forwards,
              blink 740ms steps(27)  infinite;
}

.h1{
    position: relative;
    width: max-content;
}

@keyframes blink {
    to{
        background: transparent;
    }
    
}
@keyframes typewriter {
    
    to {
        left:100%;
    }
    
    
}